{{ 'section-grid.css' | asset_url | stylesheet_tag }}


<div class="modal-container">
  <div class="modal">
    <div class="exit"><img src="{{'cross.svg' |  asset_url}}"></div>
    <div class="about">
      <div class="img-wrapper"><img src="{{'product-image-2.png' |  asset_url}}"></div>
      <div class="about-info">
        <p class="product-title">Leather Jacket</p>
        <h2 class="product-price">980,00$</h2>
        <p class="product-description">This one-piece swimsuit is crafted from jersey featuring all allover micro Monogram motif in relief.</p>
      </div>
    </div>
    <div class="color-selector">
      <p>Color</p>
      <div class="color-options">
        <div class="animator"></div>
        <div class="color color1">Black</div>
        <div class="color color2">Blue</div>
      </div>
    </div>
    <div class="size-selector">
      <p>Size</p>
      <div class="size-options">
        <div class="choose">Choose your size</div>
        <div class="icon"><img
            class="select-arrow"
            src="{{'select-arrow.svg' | asset_url}}"
            alt=""></div>
      </div>
      <div class="size-dropdown">
        <div class="size-option">XS</div>
        <div class="size-option">S</div>
        <div class="size-option">M</div>
        <div class="size-option">L</div>
        <div class="size-option">XL</div>
      </div>
    </div>
    <button class="add-to-cart">
      <span>ADD TO CART</span><img src="{{'arrow.svg' |  asset_url}}"></button>
  </div>
</div>

<div class="grid-container">
  <div class="grid-sub-container">
    <h1>Tisso Vision in the wild</h1>
    <div class="collection">
      {% for product in collections["frontpage"].products %}
        <div class="product1"><img src="{{ product.featured_image | img_url: '600x' }}"></div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  const modal = document.querySelector(".modal-container");
  const products =  document.querySelectorAll(".product1");
  const closeModal = document.querySelector(".exit");
  
  products.forEach(product => {
    product.addEventListener("click", ()=>{
      modal.style.display = "flex";
    })
  })
  
  closeModal.addEventListener("click", ()=>{
    modal.style.display = "none";
  })
  
  
  const color1 = document.querySelector(".color1");
  const color2 = document.querySelector(".color2");
  const bar = document.querySelector(".animator");
  
  color2.addEventListener("click", ()=>{
    bar.style.transform = "translateX(100%)";
    color2.style.color = "#fff";
    color1.style.color = "#000";
  });
  
  color1.addEventListener("click", ()=>{
    bar.style.transform = "translateX(0%)";
    color1.style.color = "#fff";
    color2.style.color = "#000";
  });
  
  const sizeSelectorButton = document.querySelector(".icon");
  const sizeSelectorButtonIcon = document.querySelector(".select-arrow");
  const sizeSelectorDropdown = document.querySelector(".size-dropdown");
  const sizeOptions = document.querySelectorAll(".size-option");
  const choose = document.querySelector(".choose");
  
  sizeOptions.forEach(option => {
    option.addEventListener("click", ()=>{
      sizeSelectorDropdownIsOpen = !sizeSelectorDropdownIsOpen;
      toggleDropdown();
      choose.innerText = option.innerText;
    })
  })
  
  
  let sizeSelectorDropdownIsOpen = false;
  
  function toggleDropdown(){
  if(sizeSelectorDropdownIsOpen){
      choose.innerText = "Choose your size"
      sizeSelectorButtonIcon.style.transform = "rotate(-180deg)";
      sizeSelectorDropdown.style.height = "200%";
      sizeSelectorDropdown.style.transform = "translateY(0)";
    }else{
      choose.innerText = "Choose your size"
      sizeSelectorButtonIcon.style.transform = "rotate(0)";
      sizeSelectorDropdown.style.height = "0";
      sizeSelectorDropdown.style.transform = "translateY(-1px)";
    }
  }
  
  sizeSelectorButton.addEventListener("click", ()=>{
    sizeSelectorDropdownIsOpen = !sizeSelectorDropdownIsOpen;
    toggleDropdown();
  })
</script>

{% schema %}
  {
    "name": "Grid",
    "settings": []
  }
{% endschema %}