{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div id="hero-container">
  <div class="img-container">
    <img src="{{'hero.svg' |  asset_url}}">
  </div>
  <div class="content-container">
    <div class="left-section">
      <div class="left-section-2">
        <h1>{{ section.settings.headline }}</h1>
        <div class="brand-description">
        <p>{{ section.settings.description }}</p>
        <span>{{ section.settings.sub-description }}</span>
        </div>
        {% render 'custom-button', text: section.settings.cta-text, id: 'hero-button' %}
      </div>
    </div>
    <div class="right-section"><img src="{{'hero.svg' |  asset_url}}"></div>
  </div>
  <p id="ribbon">{{ section.settings.ribbon-text }}</p>
</div>


{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "text",
        "label": "Headline",
        "id": "headline"
      },
      {
        "type": "text",
        "label": "Description",
        "id": "description"
      },
      {
        "type": "text",
        "label": "Sub Description",
        "id": "sub-description"
      },
      {
        "type": "text",
        "label": "CTA Text",
        "id": "cta-text"
      },
      {
        "type": "text",
        "label": "Ribbon Text",
        "id": "ribbon-text"
      }
    ]
  }
{% endschema %}