{{ 'section-hero.css' | asset_url | stylesheet_tag }}

{% comment %} Hero Section {% endcomment %}
<div class="hero__wrapper">
  <div class="hero__image-wrapper">
    <img class="hero__image" src="{{'hero.svg' |  asset_url}}">
  </div>
  <div class="hero__content">
    <div class="hero__content-left">
      <div class="hero__content-details">
        <h1 class="hero__headline">{{ section.settings.headline }}</h1>
        <div class="hero__description">
          <p class="hero__description-main">{{ section.settings.description }}</p>
          <span class="hero__description-sub">{{ section.settings.sub-description }}</span>
        </div>
        {% render 'custom-button', text: section.settings.cta-text, id: 'hero__call-to-action' %}
      </div>
    </div>
    <div class="hero__content-right"><img class="hero__secondary-image" src="{{'hero.svg' |  asset_url}}"></div>
  </div>
  <p class="hero__ribbon">{{ section.settings.ribbon-text }}</p>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "text",
        "label": "Headline",
        "id": "headline"
      },
      {
        "type": "text",
        "label": "Description",
        "id": "description"
      },
      {
        "type": "text",
        "label": "Sub Description",
        "id": "sub-description"
      },
      {
        "type": "text",
        "label": "CTA Text",
        "id": "cta-text"
      },
      {
        "type": "text",
        "label": "Ribbon Text",
        "id": "ribbon-text"
      }
    ]
  }
{% endschema %}