{{ 'section-navbar.css' | asset_url | stylesheet_tag }}

<header>
  <div id="menu-toggle">
    <img src="{{'menu.svg' |  asset_url}}" id="menu-icon">
  </div>
  <div class="nav-container">
  <nav>
    <h1 class="logo">{{ section.settings.logo-text }}</h1>
    <div class="tagline">{{ section.settings.tagline }}</div>
    <div class="nav-right">
    {%  render 'custom-button', text: section.settings.button-text, variant: 'secondary', id: 'nav-button' %}
    <a href="/cart"><img class="navbar__cart-icon" src="{{'cart.png' |  asset_url}}" alt=""></a>
    </div>
    </nav>
  </div>
  <div id="nav-dropdown">
    <div class="tagline dropdown">{{ section.settings.tagline }}</div>
    {%  render 'custom-button', text: section.settings.button-text, variant: 'secondary' %}
  </div>
</header>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const menuIcon = document.getElementById("menu-icon");
  const navDropdown = document.getElementById('nav-dropdown');
  
  const menuIconSrc = "{{'menu.svg' |  asset_url}}";
  const crossIconSrc = "{{'cross.svg' |  asset_url}}";

  toggleDropdown({el:navDropdown, icon: menuIcon});
</script>

{% schema %}
  {
    "name": "Navbar",
    "settings": [
      {
        "type": "text",
        "label": "Logo Text",
        "id": "logo-text"
      },
      {
        "type": "text",
        "label": "Tagline",
        "id": "tagline"
      },
      {
        "type": "text",
        "label": "Button Text",
        "id": "button-text"
      }
    ],
    "presets": [
      {
        "name": "Navbar",
        "settings": {
          "logo-text": "Tisso Vision",
          "tagline": "Find the ideal gift for your ones.",
          "button-text": "Choose Gift"
        }
      }
    ]
  }
{% endschema %}