{{ 'section-navbar.css' | asset_url | stylesheet_tag }}

<header>
  <div class="navbar__menu-toggle">
    <img src="{{'menu.svg' |  asset_url}}" class="navbar__menu-toggle-icon">
  </div>
  <div class="navbar__wrapper">
    <nav class="navbar__sub-wrapper">
      <h1 class="navbar__logo">{{ section.settings.logo-text }}</h1>
      <div class="navbar__tagline">{{ section.settings.tagline }}</div>
      <div class="navbar__right-section">
        {%  render 'custom-button', text: section.settings.button-text, variant: 'secondary', id: 'navbar__button' %}
        <a href="/cart"><img class="navbar__cart-icon" src="{{'cart.png' |  asset_url}}" alt=""></a>
      </div>
    </nav>
  </div>
  <div class="navbar__dropdown">
    <div class="navbar__dropdown-tagline">{{ section.settings.tagline }}</div>
    {%  render 'custom-button', text: section.settings.button-text, variant: 'secondary' %}
  </div>
</header>

<script>
  const navEls = {
    toggle: document.querySelector(".navbar__menu-toggle"),
    icon: document.querySelector(".navbar__menu-toggle-icon"),
    dropdown: document.querySelector(".navbar__dropdown")
  }
  
  const menuIconSrc = "{{'menu.svg' |  asset_url}}";
  const crossIconSrc = "{{'cross.svg' |  asset_url}}";
  
  let isOpen = false;
  
  navEls.toggle.addEventListener("click", () => {
    isOpen = !isOpen;
  
    if(isOpen){
      navEls.icon.src = crossIconSrc;
      navEls.dropdown.style.height = "140px";
    } else {
      navEls.icon.src = menuIconSrc;
      navEls.dropdown.style.height = "0";
    }
  });
</script>

{% schema %}
  {
    "name": "Navbar",
    "settings": [
      {
        "type": "text",
        "label": "Logo Text",
        "id": "logo-text"
      },
      {
        "type": "text",
        "label": "Tagline",
        "id": "tagline"
      },
      {
        "type": "text",
        "label": "Button Text",
        "id": "button-text"
      }
    ],
    "presets": [
      {
        "name": "Navbar",
        "settings": {
          "logo-text": "Tisso Vision",
          "tagline": "Find the ideal gift for your ones.",
          "button-text": "Choose Gift"
        }
      }
    ]
  }
{% endschema %}